.table{
    width: 400px;
    margin: auto;
    flex-direction: column;
    height: 400px;
    display: block;
}
.box {
    background-color: black;
    width: 25%;
    height: 100px;
    border: 1px solid lime;
}
.minibox{
    width: 100%;
    display: flex;
}
#box1{
    background-color: black;
    width: 25%;
    height: 100px;
    border: 1px solid lime;
}